<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1><%= user.username %>'s New List Page</h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      User: <input type="text" name="user" value="<%=user.name%>" /><br />
      <br />
      Item name:
      <input type="text" name="itemName" />
      <br />
      <br />
      Store itemName:
      <input type="text" name="storeName"  /><br />
      <br />
      Quantity:
      <input type="text" name="quantity"  /><br />
      <br />
      <input type="submit" value="EDIT Item" />
    </form>
    <br />
    <form action="/item/<%= item.id %>?_method=EDIT" method="POST">
      <input type="submit" value="Edit Item" />
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>