<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>Edit Lists Page</h1>
    <form action="/lists/<%= list.id %>?_method=PUT" method="POST">
	
	
        <br>        
              Store Name:
              <input type="text" name="storename" value='<%=list.storename%>' /><br />
              <br />
              Store items:
              <textarea name="items" id="" cols="30" rows="10" value='<%=list.items%>'></textarea>
            <br />
              <br />
            
        </select>
        <br>
        <br>

		<input type="submit" value="Edit List">
	</form>
    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>