<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1><%= user.username %>'s New List Page</h1>

    <form action="/lists" method="POST">
              
      Store Name:
      <input type="text" name="storename"  /><br />
      <br />
      Store items:
      <textarea name="items" id="" cols="30" rows="10"></textarea>
    <br />
      <br />
     
      <input type="submit" value="Add List" />
    </form>
    <br />
    <a href="/lists">Edit existing lists</a>
   
    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>