<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todd's List Application</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Welcome to Todd's List App</h1>
    <ul>
      <li><a href="/auth/signup">Sign Up</a></li>
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
    </ul>
  </body>
</html>
